Importações

In [43]:
import requests
import pandas as pd
import json

In [3]:
get_banks = 'https://brasilapi.com.br/api/banks/v1'

response = requests.get(get_banks)

## Informação da requisição

- Status de requisição
- Tipo de resposta

In [5]:
# Status da requisição
response.status_code

200

In [28]:
# Informação de resposta
headers = response.headers
headers['Content-Type']

'application/json; charset=utf-8'

## Formato JSON

Salvando informações dos bancos em formato JSON

In [44]:
bancos = response.json()

In [45]:
with open("../data/bancos.json", "w") as arquivo:
    json.dump(bancos, arquivo)

## Dataframe do Pandas

Salvando em formato Dataframe do pandas, melhor tratamento de dados

In [46]:
df = pd.DataFrame(bancos)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 359 entries, 0 to 358
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ispb      359 non-null    object
 1   name      357 non-null    object
 2   code      348 non-null    float64
 3   fullName  357 non-null    object
dtypes: float64(1), object(3)
memory usage: 11.3+ KB

In [50]:
df[df.code.isnull()]

,ispb,name,code,fullName
2,00038121,Selic,NaN,Banco Central do Brasil - Selic
3,00038166,Bacen,NaN,Banco Central do Brasil
10,00394460,STN,NaN,Secretaria do Tesouro Nacional - STN
40,02992335,CIP SA Siloc,NaN,CIP S.A
58,04391007,CAMARA INTERBANCARIA DE PAGAMENTOS - CIP,NaN,CIP S.A
184,28719664,Balcão B3,NaN,Sistema do Balcão B3
185,29011780,CIP SA C3,NaN,CIP S.A
285,54641030,Câmara B3,NaN,Câmara B3
304,60934221,Câmbio B3,NaN,Câmara de Câmbio B3
357,,NaN,NaN,NaN
358,,NaN,NaN,NaN

In [52]:
df_bancos = df.dropna(subset=['code'])

In [62]:
df_bancos.loc[:, 'code'].astype(int)

0        1
1       70
4      539
5      430
6      272
      ...
352    117
353    654
354    371
355    212
356    289
Name: code, Length: 348, dtype: int64

In [70]:
# Salvando em CSV
df_bancos.to_csv('../data/bancos.csv')

## Acessando outro Endpoint

Individualmente um banco de código específico

In [108]:
code_bank_itau = "341"

get_bank_itau = "".join([get_banks, "/", code_bank_itau])

response_bank_itau = requests.get(get_bank_itau)

In [110]:
response_bank_itau.status_code

200

In [111]:
response_bank_itau.json()

{'ispb': '60701190',
 'name': 'ITAÚ UNIBANCO S.A.',
 'code': 341,
 'fullName': 'ITAÚ UNIBANCO S.A.'}

In [116]:
code_bank_bradesco = "237"

get_bank_bradesco = "".join([get_banks, "/", code_bank_bradesco])

responde_bank_bradesco = requests.get(get_bank_bradesco)

In [117]:
responde_bank_bradesco.status_code

200

In [118]:
responde_bank_bradesco.json()

{'ispb': '60746948',
 'name': 'BCO BRADESCO S.A.',
 'code': 237,
 'fullName': 'Banco Bradesco S.A.'}